<section class="home">
    <div id="hero" class="hero">
        <div class="flexMiddle container">
            <div class="overlay"></div>
            <div class="text">
                <h1>Coffee & Food</h1>
                <h2>on the Move</h2>
                {{!-- <p>Find and order from one of our many vendors at a location near you.</p> --}}
                <div class="buttons flexMiddle">
                    <button class="lightButton linkToClosestVendor" onclick="location.href='/vendors/6075878024b5d615b324ee1d'" type="button">Go to Menu</button>
                    <button class="lightButton" onclick="location.href='/vendors'" type="button">Find a Vendor</button>
                </div>
            </div>
        </div>
    </div>
    <div class="feature flexAround">
        <div class="flex container">
            <div class="info">
                <h1>View our menu and order online</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, quisquam dolore. Nulla beatae iusto
                    excepturi incidunt. Nemo quaerat consequatur cum at incidunt, doloribus recusandae accusamus amet
                    nobis.
                    Consequatur, sint quibusdam!</p>
                <button class="darkButton linkToClosestVendor" onclick="location.href='/vendors/6075878024b5d615b324ee1d'" type="button">Go to Menu</button>
            </div>
            <div class="imgContainer flexMiddle">
                <img src="/images/food.jpeg" alt="food" />
            </div>
        </div>
    </div>
    <div class="banner banner1"></div>
    <div class="feature flex">
        <div class="flex container">
            <div class="imgContainer flexMiddle">
                <img src="/images/vanwalk.jpeg" alt="food van" />
            </div>
            <div class="info">
                <h1>Find a vendor near you</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, quisquam dolore. Nulla beatae iusto
                    excepturi incidunt. Nemo quaerat consequatur cum at incidunt, doloribus recusandae accusamus amet
                    nobis.
                    Consequatur, sint quibusdam!</p>
                <button class="darkButton" onclick="location.href='/vendors'" type="button">Go to Map</button>
            </div>
        </div>
    </div>
    <div class="banner banner2"></div>
    <div class="signup colMiddle">
        <div class="info">
            <h1>Sign up for free today</h1>
            <p>Sign up now and make an order online.</p>
            {{!-- will need to check this form --}}
            <form class="form flex" method="get" action="/customer/signup">
                <input placeholder="username" name="username" type="text" />
                <input id="homeSubmitButton" class="darkButton" type="submit" value="Sign Up" />
            </form>
        </div>
    </div>


</section>