<section id="vendors" class="colStart">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src='https://unpkg.com/@turf/turf/turf.min.js'></script>
    <script type="text/javascript">
        // display the rating for the vendor
        async function load_rating(vendorId) {
            let data = null;
            data = await axios
                .get(`https://web-info-tech-group-3.herokuapp.com/orders/${vendorId}/rating`)
                .then((data) => {
                    if (data.data) {
                        return data.data;
                    }
                    return [{ rating: 0, count: 0 }];
                })
                .catch((err) => {
                    console.log(err);
                });
            let rating = Math.round(data[0].rating * 2) / 2;
            let flr = Math.floor(data[0].rating);
            let dec = data[0].rating;
            if (!dec.toString().includes(".")) {
                dec = dec.toString() + ".0";
            }
            let count = data[0].count;
            let ratingDisplay = `<div class="flex rating">`;
            let half = false;
            if (rating > 0) {
                ratingDisplay += `<span>${dec}</span>`;
                ratingDisplay += (`<i class="fas fa-star"></i>`).repeat(flr);
                if (rating > flr) {
                    ratingDisplay += (`<i class="fas fa-star-half-alt"></i>`);
                    half = true;
                }
                ratingDisplay += half ? (`<i class="far fa-star"></i>`).repeat(5 - flr - 1) : 
                (`<i class="far fa-star"></i>`).repeat(5 - flr);
                ratingDisplay += `<span>(${count})</span>`;
            } else {
                ratingDisplay += `<p>no reviews</p>`;
            }
            ratingDisplay += `</div>`;
            document.getElementById(vendorId).innerHTML = ratingDisplay;
        }
        function latLongStr(val) {
            return val.toString().split(",");
        }
        function getDistance(vendorId) {
            if (window.vendorDistances) {
                for (let j = 0; j < window.vendorDistances.length; j++) {
                    if (window.vendorDistances[j].vendorId == vendorId) {
                        let distanceDisplay = `${window.vendorDistances[j].distance} km`;
                        console.log("getting distance:", distanceDisplay);
                        setTimeout(() => {
                            document.getElementById(vendorId + "-distance").innerHTML = distanceDisplay;
                        }, 2000)
                        return "";
                    }
                }
            }
            return "";
        }
    </script>
    <div class="container relative height">
        <h1>Vendors Near You</h1>
        <div id="vendorMap" class="flexMiddle">
            {{#vendorMap vendors}}{{/vendorMap}}
            {{#each vendors }}
            {{#if this.active}}
            {{#with location}}
            {{#with coordinates}}
            <script typr="text/javascript">
                vanIcon = L.divIcon({
                        html: `<img style="height: 35px" src="/images/food-truck.ico"/>`,
                    });
                    L.marker(latLongStr('{{this}}'), { icon: vanIcon }).addTo(map)
                        .bindPopup(`<div class="popup">
                    <p class="bold">{{../../this.name}}</p>
                    <p>{{../../this.textlocation}}</p>
                    <button>
                        <a href="vendors/{{../../this._id}}">View</a>
                    </button>
                    </div>`)
                        .openPopup();
            </script>
            {{/with}}
            {{/with}}
            {{/if}}
            {{/each}}
            </div>
            <div id="legend">
                <div class="flex stretch">
                    <button id="collapseMapList" class="flex" onclick="toggleExpandMapList()">
                        <p id="showList">show list</p>
                        <i id="arrow" class="fas fa-chevron-down"></i>
                    </button>
                </div>
                {{#vendorList vendors}}{{/vendorList}}
            </div>
        </div>
    </div>
    <script>
        function toggleExpandMapList() {
            var nav = document.getElementById("vendorList");
            if (nav.style.display == "none") {
                nav.style.display = "flex";
                document.getElementById("showList").style.display = "none";
                document.getElementById("arrow").classList.remove("fa-bars");
                document.getElementById("arrow").classList.add("fa-chevron-down");
                document.getElementById("arrow").style.fontSize = "25px";
                document.getElementById("collapseMapList").style.width = "100px";
            } else {
                nav.style.display = "none";
                document.getElementById("showList").style.display = "flex";
                document.getElementById("arrow").classList.remove("fa-chevron-down");
                document.getElementById("arrow").classList.add("fa-bars");
                document.getElementById("arrow").style.fontSize = "20px";
                document.getElementById("collapseMapList").style.width = "130px";
            }
        }
    </script>
</section>