<section id="vendorsOutstandingOrders">
        <h1 style="text-align: center;">Orders that Have Not Been Fulfilled or Picked Up Yet</h1>
        {{#if OutstandingOrders.length}}
        <p>{{OutstandingOrders}}</p>
        {{/if}}
        {{! Need to sort them with the order time}}
        {{!-- {{#each OutstandingOrdes}}
        <h2 class = "Outstanding Orders" style = "width:auto; float:left;">
        </h2>
        {{/each}} --}}

</section>