<section id="vendorPastOrders">
        <h1 style="text-align: center;">Our Orders History</h1>
        {{#if PastOrders.length}}
        <p>{{PastOrders}}</p>
        {{/if}}
        {{! Need to sort them with the order time}}
        {{!-- {{#each OutstandingOrdes}}
        <h2 class = "Outstanding Orders" style = "width:auto; float:left;">
        </h2>
        {{/each}} --}}

</section>