#loginform {
  width: 400px;
  margin-top: 40px;
}
#loginform h1 {
  text-align: center;
  margin: 0;
  font-size: 35px;
}
#loginform input {
  margin-top: 5px;
}
#loginform input[type="submit"] {
  background: var(--color-dark) !important;
  border: none !important;
  border-radius: 5px !important;
  padding: 10px !important;
  color: white !important;
  width: 100% !important;
  height: 50px !important;
  border-radius: 30px !important;
  text-decoration: none !important;
  text-transform: uppercase !important;
  font-weight: bold !important;
  margin-top: 20px !important;
  font-size: 20px !important;
}
#loginform input[type="submit"]:hover {
  background: lightgrey !important;
  border: 2px solid var(--color-dark) !important;
  color: var(--color-dark) !important;
  cursor: pointer !important;
}
#loginform .form {
  margin-top: 0;
}

label {
  margin-top: 10px;
  display: inline-block;
  width: 100%;
}
