#profile {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

#profileDetail {
  background: var(--color-grey);
  color: black;
  width: 100%;
  height: auto;
  padding: 50px;
  box-sizing: border-box;
}
.nickname {
  font-size: var(--text-big);
}
.email {
  font-size: var(--text-small);
  color: dimgray;
}
.contactDetails {
  font-size: var(--text-medium);
  color: dimgray;
}
.alignleft {
  float: left;
}

.alignright {
  float: right;
}
.contactDetailsHead {
  font-size: var(--text-medium);
  color: dimgray;
}

#pastOrder .button {
  background: #003153;
  border: none;
  border-radius: 5px;
  padding: 10px;
  color: white;
  width: 120px;
  height: 40px;
  border-radius: 30px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

#contactDetails .button {
  background: #003153;
  border: none;
  border-radius: 5px;
  padding: 10px;
  color: white;
  width: 120px;
  height: 40px;
  border-radius: 30px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

#changeDetailsPopup,
#changeNamePopup,
#changePasswordPopup,
#orderPopup,
#cancelPopup,
#ratePopup,
#cancelSucPopup,
#rateSucPopup,
#orderSuccessPopup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(194, 194, 194, 0.4);
  backdrop-filter: blur(3px);
  z-index: 15;
  text-align: center;
}
#changeDetailsPopupModal,
#changeNamePopupModal,
#changePasswordPopupModal,
#orderPopupModal,
#cancelPopupModal,
#orderSuccessPopupModal {
  background: var(--color-dark);
  color: white;
  border-radius: 30px;
  width: 50%;
  height: auto;
  padding: 40px;
  box-sizing: border-box;
}

#cancelPopup {
  display: none;
}
#orderPopupModal h1 {
  margin: 0;
}
#cancelPopupModal h1 {
  margin-bottom: 30px;
}
#orderPopupModal .location,
#orderSuccessPopup .location {
  border-bottom: 2px solid white;
  width: 75% !important;
}
.popupItem {
  width: 50%;
  margin: 0px auto 20px auto;
}
.popupButtons {
  margin: auto auto 0 auto;
}
.popupButtons button {
  margin: 0 10px;
}
.cancelButton {
  background: rgb(176, 26, 26);
  border: none;
  border-radius: 5px;
  padding: 10px;
  color: white;
  width: 80px;
  height: 30px;
  border-radius: 30px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}
.changeButton {
  background: rgb(176, 26, 26);
  border: none;
  border-radius: 5px;
  padding: 10px;
  color: white;
  width: 120px;
  height: 40px;
  border-radius: 30px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}
.changeButton:hover {
  background: lightgrey;
  border: 2px solid white;
  color: var(--color-dark) !important;
  cursor: pointer;
}
.doneButton {
  background: var(--color-green);
  border: none;
  border-radius: 5px;
  padding: 10px;
  color: var(--color-dark);
  width: 120px;
  height: 40px;
  border-radius: 30px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}
.doneButton:hover {
  background: var(--color-darkgreen);
  border: 2px solid white;
  color: white !important;
  cursor: pointer;
}

#changeDetailsform {
  width: 400px;
  margin-top: 40px;
}
#changeDetailsform h1 {
  text-align: center;
  margin: 0;
  font-size: 35px;
}
#changeDetailsform input {
  margin-top: 5px;
}
#changeDetailsform input[type="submit"] {
  width: 100%;
  padding-left: 0;
  margin-top: 20px;
  background-color: var(--color-dark);
  color:white;
  font-size: 20px;
  text-transform: uppercase;
}
#changeDetailsform .form {
  margin-top: 0;
}

label {
  margin-top: 10px;
  display: inline-block;
  width: 100%;
}
