<section class="home">
    <div class="hero">
        <div class="flexMiddle container">
            <div class="overlay"></div>
            <div class="text">
                <h1>Coffee & Food</h1>
                <h2>on the Move</h2>
                {{!-- <p>Find and order from one of our many vendors at a location near you.</p> --}}
                <div class="buttons flexMiddle">
                    <button class="lightButton"><a href="/menu">Go to Menu</a></button>
                    <button class="lightButton"><a href="/vendors">Find a Vendor</a></button>
                </div>
            </div>
        </div>
    </div>
    <div class="feature flexAround">
        <div class="flex container">
            <div class="info">
                <h1>View our menu and order online</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, quisquam dolore. Nulla beatae iusto
                    excepturi incidunt. Nemo quaerat consequatur cum at incidunt, doloribus recusandae accusamus amet
                    nobis.
                    Consequatur, sint quibusdam!</p>
                <button class="darkButton"><a href="/menu">Go to Menu</a></button>
            </div>
            <div class="imgContainer flexMiddle">
                <img src="/images/food.jpeg" alt="food" />
            </div>
        </div>
    </div>
    <div class="banner banner1"></div>
    <div class="feature flex">
        <div class="flex container">
            <div class="imgContainer flexMiddle">
                <img src="/images/vanwalk.jpeg" alt="food van" />
            </div>
            <div class="info">
                <h1>Find a vendor near you</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, quisquam dolore. Nulla beatae iusto
                    excepturi incidunt. Nemo quaerat consequatur cum at incidunt, doloribus recusandae accusamus amet
                    nobis.
                    Consequatur, sint quibusdam!</p>
                <button class="darkButton"><a href="/vendors">Go to Map</a></button>
            </div>
        </div>
    </div>
    <div class="banner banner2"></div>
    <div class="signup colMiddle">
        <div class="info">
            <h1>Sign up for free today</h1>
            <p>Sign up now to order something online</p>
            {{!-- will need to check this form --}}
            <form class="form flex" method="post" action="/customer/login">
                <input placeholder="username" name="username" />
                <button class="darkButton"><a href="/register">Sign Up</a></button>
            </form>
        </div>
    </div>


</section>