<section id="singleVendor" class="col">
    <div class="flex p10 alignMiddle">
        <button><a href="/vendors">Back to Vendors</a></button>
        <h1>** vendor name **</h1>
    </div>
    <div class="vendorDisplay flexBetween">
        <div class="menu">vendor menu here</div>
        <div class="order">customer order here</div>
    </div>
</section>