/* central area to control type and colour */
:root {
  --text-big: 36px;
  --text-medium: 22px;
  --text-small: 16px;
  --font-body: "Lexend Mega", sans-serif;
  --font-heading: "Rammetto One", cursive;
  --color-dark: #003153;
  --color-medium: #f5a201;
  --color-light: #3df2ff;
  --color-grey: #eeeeee;
}

html,
body,
.main {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
.main {
  display: flex;
  justify-content: center;
}
body {
  display: flex;
  flex-direction: column;
}
header,
footer {
  height: 150px;
  width: 100%;
  background-color: var(--color-dark);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
header a {
  color: white;
  text-decoration: none;
}
footer {
  margin-top: auto;
}
.navlinks {
  display: flex;
  margin: auto;
}
.navlinks a {
  margin: 0 10px;
  text-transform: uppercase;
}
.col {
  display: flex;
  flex-direction: column;
}
.colMiddle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
}
.flexAround {
  display: flex;
  justify-content: space-around;
}
.flexBetween {
  display: flex;
  justify-content: space-between;
}
.flexMiddle {
  display: flex;
  justify-content: center;
  align-items: center;
}
.p10 {
  padding: 10px;
}
.alignMiddle {
  align-items: center;
}
