body {
  padding: 20px;
}
.main {
  padding: 100px;
}
.links {
  display: flex;
}
.links a {
  margin-right: 20px;
  text-decoration: none;
  color: black;
}
.links button:hover {
  cursor: pointer;
}
