<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Snacks in a Van</title>
  <link rel="stylesheet" type="text/css" href="/client/public/css/main.css" />
</head>

<body>
  <header>header</header>
  <h1>Page header</h1>
  <div class="links">
    <a href="/"><button>Home Page</button></a>
    <a href="/menu"><button>Menu Page</button></a>
  </div>
  <div class="main">{{{body}}}</div>
  <footer>footer</footer>
</body>

</html>