<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Snacks in a Van</title>
</head>

<body>
  <h1>This is the server</h1>
  <div class="links">
    <div style="margin-top: 50px; display: flex; flex-direction: column;">
      <h2 style="font-weight:bold;">Customer routes</h2>
      <div style="display: flex; align-items:center">
        <h2 style="margin-right: 20px;">1)</h2>
      </div>
      <div style="display: flex; align-items:center">
        <h2 style="margin-right: 20px;">2)</h2>
      </div>
      <div style="display: flex; align-items:center">
        <h2 style="margin-right: 20px;">3)</h2>
        <p style="margin-right:20px;">Start new order:</p>
        <p>POST /orders/createNewOrder</p>
        <p>----pass menu item id, quantity, price, customer id, vendor id
        </p>
      </div>
    </div>
    <div style="margin-top: 50px; display: flex; flex-direction: column;">
      <h2 style="font-weight:bold;">Vendor routes</h2>
      <div style="display: flex; align-items:center">
        <h2 style="margin-right: 20px;">1)</h2>
        <p style="margin-right:20px;">Set van location and status:</p>
        <p>PUT /vendors/:id/setVendorActive</p>
        <p>---- pass vendorId in url params, longitude, latitude and textlocation values in req.body</p>
      </div>
      <div style="display: flex; align-items:center">
        <h2 style="margin-right: 20px;">2)</h2>
        <p style="margin-right:20px;">View all outstanding orders</p>
        <p>GET /vendors/:id/outstandingOrders</p>
        <p>---- pass vendorId in url params, return a list of outstanding orders</p>
      </div>
      <div style="display: flex; align-items:center">
        <h2 style="margin-right: 20px;">3)</h2>
        <p style="margin-right:20px;">Set orders status as Fulfilled:</p>
        <p>PUT /orders/:id/setOrdersFulfilled</p>
        <p>---- pass ordersId in url params, the status of the specific order will become Fulfilled</p>
      </div>
    </div>
    <div style="margin-top: 50px; display: flex; flex-direction: column;">
      <h2 style="font-weight:bold;">Other</h2>
      <p>GET</p>
      <div style="display: flex; align-items:center">
        <a style="margin-right:20px;" href="/orders"><button>
            Order Data
          </button></a>
        <p>/orders</p>
      </div>
      <div style="display: flex; align-items:center">
        <a style="margin-right:20px;" href="/orders/607b912c24b5d615b324ee2b"><button>Order by object
            id</button></a>
        <p>/orders/:id pass order object id</p>
      </div>
      <div style="display: flex; align-items:center">
        <a style="margin-right:20px;" href="/vendors"><button>Vendor
            Data</button></a>
        <p>/vendors</p>
      </div>
      <div style="display: flex; align-items:center">
        <a style="margin-right:20px;" href="/vendors/607c1f3c24b5d615b324ee38"><button>Vendor by object id</button></a>
        <p>/vendors/:id</p>
      </div>
      <p>POST</p>
      <div style="display: flex; align-items:center">
        <p style="margin-right:20px;">Add new vendor:</p>
        <p>/vendors/addVendor</p>
        <p>----pass name, email and password values in req.body</p>
      </div>
    </div>
    <div class="main">{{{body}}}</div>
</body>

</html>